@model min_web_project_v2.Models.EnvironmentModel

@{
    ViewData["Title"] = "Crear Ambiente";
    Layout = "/Views/Shared/_LayoutCoordinator.cshtml";
}

<div class="min-h-screen">
    <div class="relative grid gap-5 grid-cols-1 md:grid-cols-3">
        <div class="min-h-screen col-span-0 md:col-span-1">
            <img class="w-full h-full object-cover" src="/public/learning-environment.jpg" />
        </div>
        <div
            class="py-12 bg-white/80 h-full col-span-1 md:col-span-2 flex flex-col items-center absolute w-full md:relative">
            <h2 class="text-center text-2xl font-semibold">Crear</h2>
            <p class="text-black/60 font-semibold">
                Registra de manera fácil y agradable todos los ambientes de aprendizaje disponibles</p>
            <form asp-action="Create">
                <div class="flex flex-col space-y-5 justify-center">
                    <div class="flex flex-col space-y-2">
                        <h1>Nombre </h1>
                        <input asp-for="name" class="px-2 rounded-md border-2 border-gray w-80 h-10"  required/>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h1>Tipo </h1>
                        <select asp-for="type" class="px-2 rounded-md border-2 border-gray w-80 h-10"  required>
                            <option value="virtual">virtual</option>
                            <option value="presencial">presencial</option>
                            
                        </select>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h1>Capacidad </h1>
                        <input type="number" asp-for="capacity"
                            class="px-2 rounded-md border-2 border-gray w-80 h-10"  required/>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h1>Ubicación</h1>
                        <input asp-for="location" class="px-2 rounded-md border-2 border-gray w-80 h-10"
                            placeholder="eje: Edificio A"  required/>
                    </div>
                    <div class="flex flex-col space-y-2">
                        <h1>Estado</h1>
                        <select asp-for="state" class="px-2 rounded-md border-2 border-gray w-80 h-10"  required>
                            <option value=true>activo</option>
                            <option value=false>inactivo</option>
                        </select>
                    </div>
                    <input
                        class="rounded-md bg-black font-semibold p-2 text-center cursor-pointer text-white hover:bg-black/80"
                        type="submit" value="Registrar" class="btn btn-default"  required/>
                </div>
            </form>
        </div>
    </div>
</div>
