@model min_web_project_v2.Models.EnvironmentModel

@{
    ViewData["Title"] = "Leer Ambientes";
    Layout = "/Views/Shared/_LayoutCoordinator.cshtml";
}

<div>
    <p>Holaaaa mundo</p> 
    @* <td> @Html.DisplayNameFor(EnvironmentModel)</td> *@

</div>